<div class="splash">
  <div>
    <h1>Splash page</h1>
  </div>
  <div>
    <% if user_signed_in? %>
      Signed in as <%= current_user.name %>. Not you?
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>

</div>