<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <div class="category" style="border: 1px solid #2E2F30 ">
      <%= link_to category_deals_path(category) do %>
        <%= render category %>
    <%end  %>
    </div>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
